body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}

main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
<<<<<<< Updated upstream
=======
  /* overflow-y: hidden; */
>>>>>>> Stashed changes
}

#navtitle{
    background-color: black;
    color:white;
    text-align: center;
}

#sidebar{
  height: 100vh;
}

#notifications{
  margin-right: 1.5rem;
}

.eyes{
  padding-left: 1rem;
}

#fila-cuentas
{
  position: relative;
  margin: 0;  
}

#encabezado-color
{
  background: linear-gradient(to bottom, #02568A, #000000);
}

#boton-ayuda
{
  background-color: whitesmoke;
  color: #02568A;
}


.img-perfil{
  width: 80%;
}

.campana{
  font-size: 1.7em;
}


ul li
{
  margin: 0px 0px 15px 0px;
}

ul span
{
  margin: 0px 0px 0px 15px;
}