body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}

main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

#navtitle{
    background-color: black;
    color:white;
    text-align: center;
}

#sidebar{
  height: 100vh;
}

#notifications{
  margin-right: 1.5rem;
}

.eyes{
  padding-left: 1rem;
}
