body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font-family: 'Roboto Condensed', sans-serif;
}
html {
  height: -webkit-fill-available;
}

main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
<<<<<<< Updated upstream
=======
  /* overflow-y: hidden; */
>>>>>>> Stashed changes
}

#navtitle{
    background-color: black;
    color:white;
    text-align: center;
}

#sidebar{
  height: 100vh;
}

#notifications{
  margin-right: 1.5rem;
}

.eyes{
  padding-left: 1rem;
}

#fila-cuentas
{
  position: relative;
  margin: 0;  
}

#encabezado-color
{
  background: linear-gradient(to bottom, #02568A, #000000);
}

#boton-ayuda
{
  background-color: whitesmoke;
  color: #02568A;
}


.img-perfil
{
  width: 80%;
}

.campana
{
  font-size: 1.7em;
}

#menu-lateral li
{
  padding: 5px;
}

#menu-lateral span
{
  margin: 0px 0px 0px 15px;
}

.dropdown-item:hover
{
  background-color: #007bff;
}

#ultimos-movimientos
{
  margin: 15px 15px 15px 0px;
}

.titulo-seccion
{
  margin: 30px 0px 0px 0px;
  color: #02568A;
}

#ultimos-movimientos tbody
{
  background: linear-gradient(to right, #ffffff, #51bafc70)
}

#contactos-frecuentes
{
  margin: 15px 15px 15px 0px;
}

.card-contacto
{
  background: linear-gradient(to right, #ffffff, #51bafc70);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding-top: 15px;
}

#boton-transferir
{
  background: #282828;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: #ffffff;
  display: flex;
  margin: 25px 0px 10px 0px;
  padding: 7px;
  justify-content: center;
}