.bg-login{
    background-image: url(../images/bg-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cartel{
    background-color: rgba(171, 211, 236, .8);
    color: #025283;
}

.login{
    background-color: #01111A;
}

.logo{
    width: 80%;
}

.olv-contra{
    color: #51bbfc;
    text-decoration: none;
}

.olv-contra:hover{
    color: #025588;
}

.btn-color{
    background-color: #51BBFC;
    color: #010305;
    border: none;
}

.btn-color:hover{
    background-color: #01111A;
    color: #51BBFC;
    border: none;
}